<% include ./partials/header%>

 <div class="">
   <h1>Search for a Movie</h1>
     <form action = "/results" method = "/GET">
         <input type = "text" name = "search" placeholder = "search movie">
         <input type = "Submit" >
     </form>
 </div>



<% include ./partials/footer%>
