<% include ./partials/header%>
  <div class="">
  <h1>Results</h1>
  <table id="myTable">
    <tr class="header">
      <th style="width:60%;">Name</th>
      <th style="width:40%;">Year</th>
    </tr>
    <% parseData["Search"].forEach(function(movie){ %>
      <tr>
          <td><%=movie["Title"]%></td>
          <td><%= movie["Year"]; %></td>
      </tr>
    <% }); %>
  </table>
   <a href = "/"> Click to Search Again</a>
  </div>

<% include ./partials/footer%>
